.analytics {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.chart-card {
    border-radius: 30px;
    background: whitesmoke;
    box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
    padding: 15px;
    height: fit-content;
}



.analytic-cards {
    border-radius: 30px;
    width: 150px;
    height: 150px;
    background: whitesmoke;
    box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
    padding: 15px;
    
}

.role {
    /* width: 300px !important;
    height: 300px !important; */
}
